n8n-workflow-kpis-soporte.json
{
  "name": "KPIs Soporte - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kpis-soporte",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook KPIs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 0],
      "webhookId": "kpis-soporte"
    },
    {
      "parameters": {
        "jsCode": "// Calcula rangos de fechas en zona Europe/Madrid (ISO week: lunes-domingo)\nconst now = new Date();\n\nfunction madridYMD(d){ return d.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\nfunction madridDow(d){\n  // 0=Lun ... 6=Dom\n  const wd = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(d);\n  return ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(wd);\n}\nfunction ymdToDate(s){ return new Date(s + 'T00:00:00Z'); }\nfunction ymdFromDate(d){ return d.toISOString().substring(0,10); }\nfunction addDays(s,n){ const d = ymdToDate(s); d.setUTCDate(d.getUTCDate()+n); return ymdFromDate(d); }\n\nconst todayYMD     = madridYMD(now);\nconst daysSinceMon = madridDow(now);\nconst weekYMD      = addDays(todayYMD, -daysSinceMon);\nconst lastWeekYMD  = addDays(weekYMD, -7);\nconst yesterdayYMD = addDays(todayYMD, -1);\nconst sevenDaysYMD = addDays(todayYMD, -6);\nconst [yy, mm]     = todayYMD.split('-');\nconst monthYMD     = `${yy}-${mm}-01`;\n// Histórico para medias y sparklines: 28 días atrás → 4 mismos días\n// de semana pasados para la media, manteniéndose por debajo del\n// límite de 1000 resultados del Search API.\nconst histYMD      = addDays(todayYMD, -28);\nconst agedYMD      = addDays(todayYMD, -5);  // umbral 'lleva más de 5 días'\n// Los 4 mismos días de semana pasados (para hourly average preciso)\nconst sw1YMD = addDays(todayYMD, -7);    const sw1End = addDays(todayYMD, -6);\nconst sw2YMD = addDays(todayYMD, -14);   const sw2End = addDays(todayYMD, -13);\nconst sw3YMD = addDays(todayYMD, -21);   const sw3End = addDays(todayYMD, -20);\nconst sw4YMD = addDays(todayYMD, -28);   const sw4End = addDays(todayYMD, -27);\n\nreturn [{ json: {\n  today_ymd:        todayYMD,\n  yesterday_ymd:    yesterdayYMD,\n  week_ymd:         weekYMD,\n  last_week_ymd:    lastWeekYMD,\n  seven_days_ymd:   sevenDaysYMD,\n  month_ymd:        monthYMD,\n  hist_ymd:         histYMD,\n  aged_ymd:         agedYMD,\n  sw1_ymd: sw1YMD, sw1_end: sw1End,\n  sw2_ymd: sw2YMD, sw2_end: sw2End,\n  sw3_ymd: sw3YMD, sw3_end: sw3End,\n  sw4_ymd: sw4YMD, sw4_end: sw4End,\n  now_iso:          now.toISOString()\n} }];"
      },
      "id": "dates-1",
      "name": "Calcular fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-today",
      "name": "ZD Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst dates = $('Calcular fechas').first().json;\nreturn [{ json: { ...dates, zd_today: prev } }];"
      },
      "id": "save-today",
      "name": "Guardar Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-yesterday",
      "name": "ZD Ayer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hoy').first().json;\nreturn [{ json: { ...acc, zd_yesterday: $input.first().json } }];"
      },
      "id": "save-yesterday",
      "name": "Guardar Ayer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }} subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-ayer-ia",
      "name": "ZD Ayer IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-500, 180]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer').first().json;\nreturn [{ json: { ...acc, zd_yesterday_ia: $input.first().json } }];"
      },
      "id": "save-ayer-ia",
      "name": "Guardar Ayer IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 320]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }} -subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-ayer-manual",
      "name": "ZD Ayer Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-500, 460]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer IA').first().json;\nreturn [{ json: { ...acc, zd_yesterday_manual: $input.first().json } }];"
      },
      "id": "save-ayer-manual",
      "name": "Guardar Ayer Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 600]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.week_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-week",
      "name": "ZD Semana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer').first().json;\nreturn [{ json: { ...acc, zd_week: $input.first().json } }];"
      },
      "id": "save-week",
      "name": "Guardar Semana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.last_week_ymd }} created<{{ $json.week_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-lastweek",
      "name": "ZD Semana Anterior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Semana').first().json;\nreturn [{ json: { ...acc, zd_last_week: $input.first().json } }];"
      },
      "id": "save-lastweek",
      "name": "Guardar Sem. Ant.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "type:ticket status<solved" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-open",
      "name": "ZD Abiertos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Sem. Ant.').first().json;\nreturn [{ json: { ...acc, zd_open: $input.first().json } }];"
      },
      "id": "save-open",
      "name": "Guardar Abiertos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }} subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-hoy-ia",
      "name": "ZD Hoy IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Abiertos').first().json;\nreturn [{ json: { ...acc, zd_today_ia: $input.first().json } }];"
      },
      "id": "save-hoy-ia",
      "name": "Guardar Hoy IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }} -subject:\"Conversation with\"" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-hoy-manual",
      "name": "ZD Hoy Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hoy IA').first().json;\nreturn [{ json: { ...acc, zd_today_manual: $input.first().json } }];"
      },
      "id": "save-hoy-manual",
      "name": "Guardar Hoy Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/ticket_metrics.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-metrics-list",
      "name": "ZD Metrics Recientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 220]
    },
    {
      "parameters": {
        "jsCode": "// Calcula tiempo medio de primera respuesta (FRT) interseccionando\n// los 100 ticket_metrics más recientes con los IDs de los tickets\n// manuales creados hoy. Un único HTTP call, robusto.\nconst acc = $('Guardar Hoy Manual').first().json;\nconst body = $input.first().json || {};\nconst metrics = Array.isArray(body.ticket_metrics) ? body.ticket_metrics : [];\n\n// Normalizamos a string para evitar mismatch number vs string\nconst todayManualIds = new Set(\n  ((acc.zd_today_manual && acc.zd_today_manual.results) || [])\n    .map(t => t && t.id != null ? String(t.id) : null).filter(Boolean)\n);\n\nconst todayMetrics = metrics.filter(m => m && m.ticket_id != null && todayManualIds.has(String(m.ticket_id)));\n\nconst times = todayMetrics\n  .map(m => m && m.reply_time_in_minutes && m.reply_time_in_minutes.calendar)\n  .filter(v => typeof v === 'number' && v > 0);\n\nconst sample = times.length;\nconst avgMin = sample ? Math.round(times.reduce((a,b)=>a+b,0) / sample) : null;\n\nreturn [{ json: {\n  ...acc,\n  frt_avg_min: avgMin,\n  frt_sample: sample,\n  _frt_today_ids_size: todayManualIds.size,\n  _frt_metrics_size: metrics.length,\n  _frt_matched: todayMetrics.length\n} }];"
      },
      "id": "calc-frt",
      "name": "Calcular FRT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 220]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket status<solved created<{{ $json.aged_ymd }} -subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-aged",
      "name": "ZD Envejecidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Calcular FRT').first().json;\nreturn [{ json: { ...acc, zd_aged: $input.first().json } }];"
      },
      "id": "save-aged",
      "name": "Guardar Envejecidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 840]
    },

    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "=type:ticket created>={{ $json.hist_ymd }}"
        }
      },
      "id": "zd-hist",
      "name": "ZD Hist",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "jsCode": "// El nodo Zendesk emite un item por ticket. Los agrupamos en zd_hist.\nconst acc = $('Guardar Hoy Manual').first().json;\nconst allTickets = $input.all().map(i => i.json).filter(Boolean);\nreturn [{ json: { ...acc, zd_hist: { results: allTickets, count: allTickets.length } } }];"
      },
      "id": "save-hist",
      "name": "Guardar Hist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.sw1_ymd }} created<{{ $json.sw1_end }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-sw1",
      "name": "ZD SW 1 (-7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 200]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hist').first().json;\nreturn [{ json: { ...acc, zd_sw1: $input.first().json } }];"
      },
      "id": "save-sw1",
      "name": "Guardar SW1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.sw2_ymd }} created<{{ $json.sw2_end }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-sw2",
      "name": "ZD SW 2 (-14d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar SW1').first().json;\nreturn [{ json: { ...acc, zd_sw2: $input.first().json } }];"
      },
      "id": "save-sw2",
      "name": "Guardar SW2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2350, 200]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.sw3_ymd }} created<{{ $json.sw3_end }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-sw3",
      "name": "ZD SW 3 (-21d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 200]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar SW2').first().json;\nreturn [{ json: { ...acc, zd_sw3: $input.first().json } }];"
      },
      "id": "save-sw3",
      "name": "Guardar SW3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.sw4_ymd }} created<{{ $json.sw4_end }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-sw4",
      "name": "ZD SW 4 (-28d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 200]
    },
    {
      "parameters": {
        "jsCode": "// Consolida los 4 días de semana pasados en zd_past_sw\nconst acc = $('Guardar SW3').first().json;\nconst sw4 = $input.first().json || {};\nconst allResults = [\n  ...((acc.zd_sw1 && acc.zd_sw1.results) || []),\n  ...((acc.zd_sw2 && acc.zd_sw2.results) || []),\n  ...((acc.zd_sw3 && acc.zd_sw3.results) || []),\n  ...((sw4.results) || [])\n];\nreturn [{ json: { ...acc, zd_sw4: sw4, zd_past_sw: { results: allResults, count: allResults.length } } }];"
      },
      "id": "save-past-sw",
      "name": "Guardar Past SW",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2950, 200]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket solved>={{ $json.today_ymd }} -subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-solved-today",
      "name": "ZD Resueltos Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hist').first().json;\nreturn [{ json: { ...acc, zd_solved_today: $input.first().json } }];"
      },
      "id": "save-solved-today",
      "name": "Guardar Resueltos Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    },

    {
      "parameters": {
        "jsCode": "// Extrae los IDs de las top 8 orgs del MES (filtramos zd_hist a >= month_ymd)\nconst d = $input.first().json;\nconst histRes  = (d.zd_hist && Array.isArray(d.zd_hist.results)) ? d.zd_hist.results : [];\nconst monthYMD = d.month_ymd;\nfunction ymdMad(date){ return date.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\n\nconst orgCount = new Map();\nfor (const t of histRes) {\n  const c = t.created_at || t.createdAt;\n  if (!c) continue;\n  if (ymdMad(new Date(c)) < monthYMD) continue;\n  if (!t.organization_id) continue;\n  orgCount.set(t.organization_id, (orgCount.get(t.organization_id) || 0) + 1);\n}\nconst top = [...orgCount.entries()].sort((a,b)=>b[1]-a[1]).slice(0,8);\nconst ids = new Set(top.map(([id])=>id));\n\nreturn [{ json: { ...d, org_ids_csv: [...ids].join(',') || '0', top_orgs_raw: top } }];"
      },
      "id": "calc-orgs",
      "name": "Calcular IDs orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/organizations/show_many.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ids", "value": "={{ $json.org_ids_csv }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-orgs",
      "name": "ZD Organizaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Calcular IDs orgs').first().json;\nreturn [{ json: { ...acc, zd_orgs: $input.first().json } }];"
      },
      "id": "save-orgs",
      "name": "Guardar Orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 0]
    },

    {
      "parameters": {
        "jsCode": "// Consolida todo en el JSON final\nconst d = $input.first().json;\n\nfunction count(obj){\n  if (!obj) return 0;\n  if (typeof obj.count === 'number') return obj.count;\n  if (Array.isArray(obj.results)) return obj.results.length;\n  return 0;\n}\nfunction results(obj){\n  if (!obj || !Array.isArray(obj.results)) return [];\n  return obj.results;\n}\nfunction ymdMadrid(date){ return date.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\nfunction partsMadrid(date){\n  return new Intl.DateTimeFormat('en-US', {\n    timeZone:'Europe/Madrid', weekday:'short', hour:'2-digit', hour12:false\n  }).formatToParts(date);\n}\n\nconst today        = count(d.zd_today);\nconst yesterday    = count(d.zd_yesterday);\nconst week         = count(d.zd_week);\nconst lastWeek     = count(d.zd_last_week);\nconst open         = count(d.zd_open);\nconst todayIA       = count(d.zd_today_ia);\nconst todayManual   = count(d.zd_today_manual);\nconst yesterdayIA   = count(d.zd_yesterday_ia);\nconst yesterdayManual = count(d.zd_yesterday_manual);\nconst solvedToday   = count(d.zd_solved_today);\nconst backlogToday  = todayManual - solvedToday;\n\nconst todayRes = results(d.zd_today);\nconst openRes  = results(d.zd_open);\nconst histRes  = results(d.zd_hist);\nconst pending  = openRes.filter(t => t.status === 'pending').length;\n\nconst weekYMD  = d.week_ymd;\nconst monthYMD = d.month_ymd;\n\n// Tickets de este mes (filtramos histRes a >= month_ymd)\nconst monthRes = histRes.filter(t => {\n  const c = t.created_at || t.createdAt;\n  return c && ymdMadrid(new Date(c)) >= monthYMD;\n});\nconst month = monthRes.length;\nlet monthIA = 0, monthManual = 0;\nfor (const t of monthRes) {\n  const subj = String(t.subject || '').trim().toLowerCase();\n  if (subj.startsWith('conversation with')) monthIA++; else monthManual++;\n}\n\n// ────── A · HOURLY TODAY vs MEDIA (mismo día semana últimas 4 semanas) ──────\nconst HOURS_RANGE = ['09','10','11','12','13','14','15','16','17','18'];\nconst nowD = new Date();\nconst todayLocalYMD = ymdMadrid(nowD);\nconst todayWdStr = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(nowD);\n\nconst hoursToday = Object.fromEntries(HOURS_RANGE.map(h => [h, 0]));\nfor (const t of todayRes) {\n  if (!t.created_at) continue;\n  const dt = new Date(t.created_at);\n  if (ymdMadrid(dt) !== todayLocalYMD) continue;\n  const hh = partsMadrid(dt).find(p => p.type === 'hour')?.value || '00';\n  if (hoursToday[hh] !== undefined) hoursToday[hh]++;\n}\n\n// Media: agrupar tickets de los 4 mismos días de semana pasados\n// (dataset dedicado zd_past_sw para esquivar el límite de 1000 de\n// Zendesk Search que sufre el dataset histórico general).\nconst pastSwRes = results(d.zd_past_sw);\nconst sameWdSums = Object.fromEntries(HOURS_RANGE.map(h => [h, 0]));\nconst sameWdDaysSeen = new Set();\nfor (const t of pastSwRes) {\n  if (!t.created_at) continue;\n  const dt = new Date(t.created_at);\n  if (ymdMadrid(dt) === todayLocalYMD) continue;\n  sameWdDaysSeen.add(ymdMadrid(dt));\n  const p = partsMadrid(dt);\n  const hh = p.find(x => x.type === 'hour')?.value || '00';\n  if (sameWdSums[hh] !== undefined) sameWdSums[hh]++;\n}\n// Denominador = nº de días distintos encontrados (típicamente 4); con\n// fallback al cálculo por calendario por si algún día tuviera 0 tickets\nlet sampleDays = sameWdDaysSeen.size;\nif (sampleDays === 0) {\n  const _histStart = new Date(d.hist_ymd + 'T12:00:00Z');\n  const _todayStart = new Date(todayLocalYMD + 'T12:00:00Z');\n  for (let dt = new Date(_histStart); dt < _todayStart; dt.setUTCDate(dt.getUTCDate() + 1)) {\n    const wd = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(dt);\n    if (wd === todayWdStr) sampleDays++;\n  }\n  if (sampleDays === 0) sampleDays = 1;\n}\nconst hourly_today = HOURS_RANGE.map(h => ({\n  hour: h + ':00',\n  today: hoursToday[h],\n  avg: Math.round((sameWdSums[h] / sampleDays) * 10) / 10\n}));\n\n// ────── C · STACKED IA/MANUAL por día (L-V hasta hoy) ──────\nconst DAYS_LV = ['Lun','Mar','Mié','Jue','Vie'];\nconst _wdIdx = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(todayWdStr);\nconst lastDayIdx = Math.min(_wdIdx, 4);\nconst visibleDays = DAYS_LV.slice(0, lastDayIdx + 1);\nconst stackedIA = Object.fromEntries(visibleDays.map(dn => [dn, 0]));\nconst stackedMa = Object.fromEntries(visibleDays.map(dn => [dn, 0]));\nlet weekIA = 0, weekMa = 0;\nfor (const t of histRes) {\n  const created = t.created_at || t.createdAt;\n  if (!created) continue;\n  const dt = new Date(created);\n  if (isNaN(dt.getTime())) continue;\n  if (ymdMadrid(dt) < weekYMD) continue;\n  const p = partsMadrid(dt);\n  const wd = p.find(x => x.type === 'weekday')?.value;\n  const idx = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(wd);\n  if (idx < 0 || idx > 4 || idx > lastDayIdx) continue;\n  const dn = DAYS_LV[idx];\n  const subj = String(t.subject || '').trim().toLowerCase();\n  const isIA = subj.startsWith('conversation with');\n  if (isIA) { stackedIA[dn]++; weekIA++; } else { stackedMa[dn]++; weekMa++; }\n}\nconst weekly_stacked = visibleDays.map(dn => ({\n  day: dn,\n  ia: stackedIA[dn],\n  manual: stackedMa[dn],\n  total: stackedIA[dn] + stackedMa[dn],\n  pct_ia: (stackedIA[dn] + stackedMa[dn]) > 0\n    ? Math.round((stackedIA[dn] / (stackedIA[dn] + stackedMa[dn])) * 100) : 0\n}));\n\n// ────── Tickets envejecidos (>3 días sin cerrar, sin IA) ──────\nconst tickets_aged_3d = count(d.zd_aged);\n\n// ────── Top orgs del mes + sparkline 14 días ──────\nconst orgCount = new Map();\nfor (const t of monthRes) {\n  if (!t.organization_id) continue;\n  orgCount.set(t.organization_id, (orgCount.get(t.organization_id) || 0) + 1);\n}\nconst topOrgIds = [...orgCount.entries()].sort((a,b)=>b[1]-a[1]).slice(0,8);\n\n// Construir array de 14 días YMD (oldest -> today)\nconst dayList = [];\nfor (let i = 13; i >= 0; i--) {\n  const dt = new Date(nowD); dt.setDate(dt.getDate() - i);\n  dayList.push(ymdMadrid(dt));\n}\nconst dayIndex = Object.fromEntries(dayList.map((y,i) => [y, i]));\n\n// Por cada org top, contar tickets por día\nconst sparklineByOrg = new Map();\nfor (const [orgId] of topOrgIds) sparklineByOrg.set(orgId, new Array(14).fill(0));\nfor (const t of histRes) {\n  if (!t.organization_id) continue;\n  if (!sparklineByOrg.has(t.organization_id)) continue;\n  const created = t.created_at || t.createdAt;\n  if (!created) continue;\n  const dYMD = ymdMadrid(new Date(created));\n  const idx = dayIndex[dYMD];\n  if (idx !== undefined) sparklineByOrg.get(t.organization_id)[idx]++;\n}\n\nconst orgMap = new Map();\nconst orgsResolved = (d.zd_orgs && Array.isArray(d.zd_orgs.organizations)) ? d.zd_orgs.organizations : [];\nfor (const o of orgsResolved) { if (o && o.id) orgMap.set(o.id, o.name); }\nfunction orgName(id){ return orgMap.get(id) || `Organización ${id}`; }\n\nconst top_orgs = topOrgIds.map(([id, count]) => ({\n  name: orgName(id),\n  count,\n  sparkline: sparklineByOrg.get(id) || []\n}));\n\nreturn [{ json: {\n  generated_at: new Date().toISOString(),\n  tickets_today: today,\n  tickets_yesterday: yesterday,\n  tickets_week: week,\n  tickets_last_week: lastWeek,\n  tickets_open: open,\n  tickets_pending: pending,\n  tickets_month: month,\n  tickets_solved_today: solvedToday,\n  backlog_today: backlogToday,\n  frt_avg_min: d.frt_avg_min ?? null,\n  frt_sample: d.frt_sample ?? 0,\n  _frt_today_ids_size: d._frt_today_ids_size ?? null,\n  _frt_metrics_size: d._frt_metrics_size ?? null,\n  _frt_matched: d._frt_matched ?? null,\n  tickets_aged_3d,\n  tickets_today_ia: todayIA,\n  tickets_today_manual: todayManual,\n  tickets_yesterday_ia: yesterdayIA,\n  tickets_yesterday_manual: yesterdayManual,\n  tickets_month_ia: monthIA,\n  tickets_month_manual: monthManual,\n  tickets_week_ia: weekIA,\n  tickets_week_manual: weekMa,\n  hourly_today,\n  weekly_stacked,\n  top_orgs\n} }];"
      },
      "id": "agg-1",
      "name": "Agregar KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp-1",
      "name": "Responder webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3200, 0]
    }
  ],
  "connections": {
    "Webhook KPIs":          { "main": [[{ "node": "Calcular fechas",      "type": "main", "index": 0 }]] },
    "Calcular fechas":       { "main": [[{ "node": "ZD Hoy",               "type": "main", "index": 0 }]] },
    "ZD Hoy":                { "main": [[{ "node": "Guardar Hoy",          "type": "main", "index": 0 }]] },
    "Guardar Hoy":           { "main": [[{ "node": "ZD Ayer",              "type": "main", "index": 0 }]] },
    "ZD Ayer":               { "main": [[{ "node": "Guardar Ayer",         "type": "main", "index": 0 }]] },
    "Guardar Ayer":          { "main": [[{ "node": "ZD Ayer IA",           "type": "main", "index": 0 }]] },
    "ZD Ayer IA":            { "main": [[{ "node": "Guardar Ayer IA",      "type": "main", "index": 0 }]] },
    "Guardar Ayer IA":       { "main": [[{ "node": "ZD Ayer Manual",       "type": "main", "index": 0 }]] },
    "ZD Ayer Manual":        { "main": [[{ "node": "Guardar Ayer Manual",  "type": "main", "index": 0 }]] },
    "Guardar Ayer Manual":   { "main": [[{ "node": "ZD Semana",            "type": "main", "index": 0 }]] },
    "ZD Semana":             { "main": [[{ "node": "Guardar Semana",       "type": "main", "index": 0 }]] },
    "Guardar Semana":        { "main": [[{ "node": "ZD Semana Anterior",   "type": "main", "index": 0 }]] },
    "ZD Semana Anterior":    { "main": [[{ "node": "Guardar Sem. Ant.",    "type": "main", "index": 0 }]] },
    "Guardar Sem. Ant.":     { "main": [[{ "node": "ZD Abiertos",          "type": "main", "index": 0 }]] },
    "ZD Abiertos":           { "main": [[{ "node": "Guardar Abiertos",     "type": "main", "index": 0 }]] },
    "Guardar Abiertos":      { "main": [[{ "node": "ZD Hoy IA",            "type": "main", "index": 0 }]] },
    "ZD Hoy IA":             { "main": [[{ "node": "Guardar Hoy IA",       "type": "main", "index": 0 }]] },
    "Guardar Hoy IA":        { "main": [[{ "node": "ZD Hoy Manual",        "type": "main", "index": 0 }]] },
    "ZD Hoy Manual":         { "main": [[{ "node": "Guardar Hoy Manual",   "type": "main", "index": 0 }]] },
    "Guardar Hoy Manual":    { "main": [[{ "node": "ZD Metrics Recientes", "type": "main", "index": 0 }]] },
    "ZD Metrics Recientes":  { "main": [[{ "node": "Calcular FRT",         "type": "main", "index": 0 }]] },
    "Calcular FRT":          { "main": [[{ "node": "ZD Envejecidos",       "type": "main", "index": 0 }]] },
    "ZD Envejecidos":        { "main": [[{ "node": "Guardar Envejecidos",  "type": "main", "index": 0 }]] },
    "Guardar Envejecidos":   { "main": [[{ "node": "ZD Hist",              "type": "main", "index": 0 }]] },
    "ZD Hist":               { "main": [[{ "node": "Guardar Hist",         "type": "main", "index": 0 }]] },
    "Guardar Hist":          { "main": [[{ "node": "ZD SW 1 (-7d)",        "type": "main", "index": 0 }]] },
    "ZD SW 1 (-7d)":         { "main": [[{ "node": "Guardar SW1",          "type": "main", "index": 0 }]] },
    "Guardar SW1":           { "main": [[{ "node": "ZD SW 2 (-14d)",       "type": "main", "index": 0 }]] },
    "ZD SW 2 (-14d)":        { "main": [[{ "node": "Guardar SW2",          "type": "main", "index": 0 }]] },
    "Guardar SW2":           { "main": [[{ "node": "ZD SW 3 (-21d)",       "type": "main", "index": 0 }]] },
    "ZD SW 3 (-21d)":        { "main": [[{ "node": "Guardar SW3",          "type": "main", "index": 0 }]] },
    "Guardar SW3":           { "main": [[{ "node": "ZD SW 4 (-28d)",       "type": "main", "index": 0 }]] },
    "ZD SW 4 (-28d)":        { "main": [[{ "node": "Guardar Past SW",      "type": "main", "index": 0 }]] },
    "Guardar Past SW":       { "main": [[{ "node": "ZD Resueltos Hoy",     "type": "main", "index": 0 }]] },
    "ZD Resueltos Hoy":      { "main": [[{ "node": "Guardar Resueltos Hoy","type": "main", "index": 0 }]] },
    "Guardar Resueltos Hoy": { "main": [[{ "node": "Calcular IDs orgs",    "type": "main", "index": 0 }]] },
    "Calcular IDs orgs":     { "main": [[{ "node": "ZD Organizaciones",    "type": "main", "index": 0 }]] },
    "ZD Organizaciones":     { "main": [[{ "node": "Guardar Orgs",         "type": "main", "index": 0 }]] },
    "Guardar Orgs":          { "main": [[{ "node": "Agregar KPIs",         "type": "main", "index": 0 }]] },
    "Agregar KPIs":          { "main": [[{ "node": "Responder webhook",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
