n8n-workflow-auto-close-desync.json
{
  "name": "Auto-close desync (Zendesk solved)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auto-close-desync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook Auto-Close",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "auto-close-desync"
    },
    {
      "parameters": {
        "jsCode": "// Parsea los IDs Zendesk desde la query string ?ids=N,N,N\n// Devuelve un item por cada ID a cerrar\nconst q = $input.first().json.query || {};\nconst raw = String(q.ids || '').trim();\nconst confirm = String(q.confirm || '').toUpperCase();\n\nif (!raw) {\n  return [{ json: {\n    _action: 'error',\n    error: 'Falta parámetro ?ids=N,N,N',\n    ejemplo: '/webhook/auto-close-desync?ids=8720,8400,4767&confirm=YES'\n  } }];\n}\n\nconst ids = raw.split(',').map(s => s.trim()).filter(Boolean).filter(s => /^\\d+$/.test(s));\nif (ids.length === 0) {\n  return [{ json: { _action: 'error', error: 'Ningún ID válido en ?ids=' } }];\n}\n\nif (confirm !== 'YES') {\n  // Dry-run: lista los IDs que SE CERRARÍAN pero NO ejecuta\n  return [{ json: {\n    _action: 'dry_run',\n    message: 'Esto es un DRY-RUN. Para ejecutar de verdad añade &confirm=YES',\n    ids_que_se_cerrarian: ids.map(id => parseInt(id, 10)),\n    total: ids.length\n  } }];\n}\n\n// Producción: emite un item por ID\nreturn ids.map(id => ({ json: { zendesk_id: parseInt(id, 10), _action: 'close' } }));"
      },
      "id": "parse",
      "name": "Parsear IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._action }}",
              "rightValue": "close",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-close",
      "name": "Solo si _action=close",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://soporteyurest.zendesk.com/api/v2/tickets/{{ $json.zendesk_id }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n    \"status\": \"solved\",\n    \"comment\": {\n      \"body\": \"🔒 Cerrado automáticamente desde n8n por desincronización con Asana: la tarea Asana asociada ya estaba marcada como completada.\",\n      \"public\": false\n    }\n  }\n}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "zd-update",
      "name": "Zendesk Update Solved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 0],
      "credentials": {
        "zendeskApi": { "id": "KagVdQFawJyTOzEO", "name": "Zendesk account" }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Recopila resultados de todas las llamadas a Zendesk\nconst items = $input.all().map(i => i.json).filter(Boolean);\nconst inputs = $('Solo si _action=close').all().map(i => i.json);\n\nconst results = items.map((r, i) => {\n  const zdId = inputs[i] && inputs[i].zendesk_id;\n  const ticket = r && r.ticket;\n  const success = !!(ticket && ticket.status === 'solved');\n  const errorMsg = !success ? (r && (r.error || r.description || JSON.stringify(r).slice(0, 200))) : null;\n  return {\n    zendesk_id: zdId,\n    success: success,\n    new_status: ticket ? ticket.status : null,\n    error: errorMsg,\n    url: zdId ? `https://soporteyurest.zendesk.com/agent/tickets/${zdId}` : null\n  };\n});\n\nconst ok = results.filter(r => r.success);\nconst ko = results.filter(r => !r.success);\n\nreturn [{ json: {\n  _action: 'close',\n  executed_at: new Date().toISOString(),\n  total: results.length,\n  success_count: ok.length,\n  failure_count: ko.length,\n  success_ids: ok.map(r => r.zendesk_id),\n  failures: ko,\n  full_results: results\n} }];"
      },
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp-dry",
      "name": "Respond Dry Run",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-200, 200]
    }
  ],
  "connections": {
    "Webhook Auto-Close":    { "main": [[{ "node": "Parsear IDs",            "type": "main", "index": 0 }]] },
    "Parsear IDs":           { "main": [[{ "node": "Solo si _action=close",  "type": "main", "index": 0 }, { "node": "Respond Dry Run", "type": "main", "index": 0 }]] },
    "Solo si _action=close": { "main": [[{ "node": "Zendesk Update Solved",  "type": "main", "index": 0 }]] },
    "Zendesk Update Solved": { "main": [[{ "node": "Aggregate Results",      "type": "main", "index": 0 }]] },
    "Aggregate Results":     { "main": [[{ "node": "Respond",                "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
