n8n-workflow-top-orgs-last-month.json
{
  "name": "KPIs Soporte - Top Orgs Mes Anterior (cached)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "daysInterval": 1, "triggerAtHour": 3, "triggerAtMinute": 0 }
          ]
        }
      },
      "id": "cron",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, -200]
    },
    {
      "parameters": {
        "jsCode": "// Rangos en zona Madrid:\n//   Mes anterior: [last_month_ymd, last_month_end_ymd)\n//   Semana anterior (lunes-domingo): [last_week_ymd, week_ymd)\nconst now = new Date();\nfunction madridYMD(d){ return d.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\nfunction madridDow(d){\n  const wd = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(d);\n  return ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(wd);\n}\nfunction ymdToDate(s){ return new Date(s + 'T00:00:00Z'); }\nfunction ymdFromDate(d){ return d.toISOString().substring(0,10); }\nfunction addDays(s,n){ const d = ymdToDate(s); d.setUTCDate(d.getUTCDate()+n); return ymdFromDate(d); }\nconst todayYMD = madridYMD(now);\nconst [yy, mm] = todayYMD.split('-');\nconst monthYMD = `${yy}-${mm}-01`;\nconst _prev    = ymdToDate(monthYMD); _prev.setUTCMonth(_prev.getUTCMonth() - 1);\nconst lastMonthYMD    = ymdFromDate(_prev);\nconst lastMonthEndYMD = monthYMD;\nconst weekYMD     = addDays(todayYMD, -madridDow(now));\nconst lastWeekYMD = addDays(weekYMD, -7);\nreturn [{ json: { last_month_ymd: lastMonthYMD, last_month_end_ymd: lastMonthEndYMD, week_ymd: weekYMD, last_week_ymd: lastWeekYMD } }];"
      },
      "id": "dates",
      "name": "Calcular fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, -200]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $('Calcular fechas').first().json.last_month_ymd }} created<{{ $('Calcular fechas').first().json.last_month_end_ymd }}" },
            { "name": "per_page", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-mes-ant-count",
      "name": "ZD Mes Ant Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $('Calcular fechas').first().json.last_week_ymd }} created<{{ $('Calcular fechas').first().json.week_ymd }}" },
            { "name": "per_page", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-sem-ant-count",
      "name": "ZD Sem Ant Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-850, 0]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $('Calcular fechas').first().json.last_month_ymd }} created<{{ $('Calcular fechas').first().json.last_month_end_ymd }} subject:\"Conversation with\"" },
            { "name": "per_page", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-mes-ant-ia",
      "name": "ZD Mes Ant IA Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-820, 0]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $('Calcular fechas').first().json.last_month_ymd }} created<{{ $('Calcular fechas').first().json.last_month_end_ymd }} -subject:\"Conversation with\"" },
            { "name": "per_page", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-mes-ant-manual",
      "name": "ZD Mes Ant Manual Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-790, 0]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "=type:ticket created>={{ $('Calcular fechas').first().json.last_month_ymd }} created<{{ $('Calcular fechas').first().json.last_month_end_ymd }}"
        }
      },
      "id": "zd-hist-lm",
      "name": "ZD Hist Mes Anterior",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [-1000, -200]
    },
    {
      "parameters": {
        "jsCode": "// Calcula top 8 orgs del mes anterior y prepara CSV de IDs para resolver nombres.\nconst dates = $('Calcular fechas').first().json;\nconst tickets = $input.all().map(i => i.json).filter(Boolean);\nconst m = new Map();\nfor (const t of tickets) {\n  if (!t || !t.organization_id) continue;\n  m.set(t.organization_id, (m.get(t.organization_id) || 0) + 1);\n}\nconst top = [...m.entries()].sort((a,b)=>b[1]-a[1]).slice(0,8);\nconst ids = top.map(([id])=>id);\nreturn [{ json: { ...dates, _top_raw: top, org_ids_csv: ids.join(',') || '0', _ticket_count: tickets.length } }];"
      },
      "id": "calc-top",
      "name": "Calcular Top",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, -200]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/organizations/show_many.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ids", "value": "={{ $json.org_ids_csv }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-orgs",
      "name": "ZD Organizaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, -200]
    },
    {
      "parameters": {
        "jsCode": "// Resuelve nombres + lee counts de mes/semana anterior + GUARDA EN STATIC DATA.\nconst dates = $('Calcular fechas').first().json;\nconst acc   = $('Calcular Top').first().json;\nconst body  = $input.first().json || {};\nconst orgs  = Array.isArray(body.organizations) ? body.organizations : [];\nconst orgMap = new Map();\nfor (const o of orgs) { if (o && o.id) orgMap.set(o.id, o.name); }\nconst top_orgs_last_month = (acc._top_raw || []).map(([id, count]) => ({\n  name: orgMap.get(id) || `Organización ${id}`,\n  count\n}));\n// search.json con per_page=1 devuelve el campo 'count' total sin paginar.\nconst monthCountBody = $('ZD Mes Ant Count').first().json || {};\nconst weekCountBody  = $('ZD Sem Ant Count').first().json || {};\nconst monthIaBody    = $('ZD Mes Ant IA Count').first().json || {};\nconst monthManBody   = $('ZD Mes Ant Manual Count').first().json || {};\nconst tickets_last_month = typeof monthCountBody.count === 'number' ? monthCountBody.count : null;\nconst tickets_last_week  = typeof weekCountBody.count  === 'number' ? weekCountBody.count  : null;\nconst tickets_last_month_ia     = typeof monthIaBody.count  === 'number' ? monthIaBody.count  : null;\nconst tickets_last_month_manual = typeof monthManBody.count === 'number' ? monthManBody.count : null;\nconst payload = {\n  generated_at:       new Date().toISOString(),\n  last_month_ymd:     dates.last_month_ymd,\n  last_month_end_ymd: dates.last_month_end_ymd,\n  last_week_ymd:      dates.last_week_ymd,\n  week_ymd:           dates.week_ymd,\n  ticket_count_paginated: acc._ticket_count,\n  tickets_last_month,\n  tickets_last_month_ia,\n  tickets_last_month_manual,\n  tickets_last_week,\n  top_orgs_last_month\n};\nconst staticData = $getWorkflowStaticData('global');\nstaticData.cached_payload = payload;\nstaticData.cached_at      = payload.generated_at;\nreturn [{ json: { saved: true, ...payload } }];"
      },
      "id": "save-cache",
      "name": "Guardar en caché",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, -200]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kpis-top-orgs-last-month",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook Top Orgs LM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 200],
      "webhookId": "kpis-top-orgs-last-month"
    },
    {
      "parameters": {
        "jsCode": "// Lee el último resultado cacheado por el Schedule Trigger.\n// Si la caché está vacía (primer arranque), devuelve estructura vacía y _stale=true.\nconst staticData = $getWorkflowStaticData('global');\nconst cached = staticData.cached_payload || null;\nif (!cached) {\n  return [{ json: {\n    generated_at: null,\n    cached_at: null,\n    _stale: true,\n    _hint: 'Cache vacía. Lanza manualmente el Schedule Trigger una vez.',\n    top_orgs_last_month: [],\n    tickets_last_month: null,\n    tickets_last_month_ia: null,\n    tickets_last_month_manual: null,\n    tickets_last_week:  null\n  } }];\n}\nreturn [{ json: { ...cached, cached_at: staticData.cached_at, _stale: false } }];"
      },
      "id": "read-cache",
      "name": "Leer caché",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1000, 200]
    }
  ],
  "connections": {
    "Schedule Trigger":   { "main": [[{ "node": "Calcular fechas",    "type": "main", "index": 0 }]] },
    "Calcular fechas":    { "main": [[{ "node": "ZD Mes Ant Count",   "type": "main", "index": 0 }]] },
    "ZD Mes Ant Count":   { "main": [[{ "node": "ZD Sem Ant Count",   "type": "main", "index": 0 }]] },
    "ZD Sem Ant Count":   { "main": [[{ "node": "ZD Mes Ant IA Count","type": "main", "index": 0 }]] },
    "ZD Mes Ant IA Count":{ "main": [[{ "node": "ZD Mes Ant Manual Count","type": "main", "index": 0 }]] },
    "ZD Mes Ant Manual Count":{ "main": [[{ "node": "ZD Hist Mes Anterior","type": "main", "index": 0 }]] },
    "ZD Hist Mes Anterior":{ "main": [[{ "node": "Calcular Top",      "type": "main", "index": 0 }]] },
    "Calcular Top":       { "main": [[{ "node": "ZD Organizaciones",  "type": "main", "index": 0 }]] },
    "ZD Organizaciones":  { "main": [[{ "node": "Guardar en caché",   "type": "main", "index": 0 }]] },

    "Webhook Top Orgs LM":{ "main": [[{ "node": "Leer caché",         "type": "main", "index": 0 }]] },
    "Leer caché":         { "main": [[{ "node": "Respond",            "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
