n8n-workflow-kpis-soporte.json
{
  "name": "KPIs Soporte - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kpis-soporte",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook KPIs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 0],
      "webhookId": "kpis-soporte"
    },
    {
      "parameters": {
        "jsCode": "// Calcula rangos de fechas en zona Europe/Madrid (ISO week: lunes-domingo)\nconst now = new Date();\n\nfunction madridYMD(d){ return d.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\nfunction madridDow(d){\n  // 0=Lun ... 6=Dom\n  const wd = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(d);\n  return ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(wd);\n}\nfunction ymdToDate(s){ return new Date(s + 'T00:00:00Z'); }\nfunction ymdFromDate(d){ return d.toISOString().substring(0,10); }\nfunction addDays(s,n){ const d = ymdToDate(s); d.setUTCDate(d.getUTCDate()+n); return ymdFromDate(d); }\n\nconst todayYMD     = madridYMD(now);\nconst daysSinceMon = madridDow(now);\nconst weekYMD      = addDays(todayYMD, -daysSinceMon);\nconst lastWeekYMD  = addDays(weekYMD, -7);\nconst yesterdayYMD = addDays(todayYMD, -1);\nconst sevenDaysYMD = addDays(todayYMD, -6);\nconst [yy, mm]     = todayYMD.split('-');\nconst monthYMD     = `${yy}-${mm}-01`;\n// Histórico para medias y sparklines: 28 días atrás → 4 mismos días\n// de semana pasados para la media, manteniéndose por debajo del\n// límite de 1000 resultados del Search API.\nconst histYMD      = addDays(todayYMD, -28);\nconst agedYMD      = addDays(todayYMD, -5);  // umbral 'lleva más de 5 días'\n\nreturn [{ json: {\n  today_ymd:        todayYMD,\n  yesterday_ymd:    yesterdayYMD,\n  week_ymd:         weekYMD,\n  last_week_ymd:    lastWeekYMD,\n  seven_days_ymd:   sevenDaysYMD,\n  month_ymd:        monthYMD,\n  hist_ymd:         histYMD,\n  aged_ymd:         agedYMD,\n  now_iso:          now.toISOString()\n} }];"
      },
      "id": "dates-1",
      "name": "Calcular fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }}" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-today",
      "name": "ZD Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst dates = $('Calcular fechas').first().json;\nreturn [{ json: { ...dates, zd_today: prev } }];"
      },
      "id": "save-today",
      "name": "Guardar Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-yesterday",
      "name": "ZD Ayer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hoy').first().json;\nreturn [{ json: { ...acc, zd_yesterday: $input.first().json } }];"
      },
      "id": "save-yesterday",
      "name": "Guardar Ayer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }} subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-ayer-ia",
      "name": "ZD Ayer IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-500, 180]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer').first().json;\nreturn [{ json: { ...acc, zd_yesterday_ia: $input.first().json } }];"
      },
      "id": "save-ayer-ia",
      "name": "Guardar Ayer IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 320]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.yesterday_ymd }} created<{{ $json.today_ymd }} -subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-ayer-manual",
      "name": "ZD Ayer Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-500, 460]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer IA').first().json;\nreturn [{ json: { ...acc, zd_yesterday_manual: $input.first().json } }];"
      },
      "id": "save-ayer-manual",
      "name": "Guardar Ayer Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 600]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.week_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-week",
      "name": "ZD Semana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Ayer Manual').first().json;\nreturn [{ json: { ...acc, zd_week: $input.first().json } }];"
      },
      "id": "save-week",
      "name": "Guardar Semana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.last_week_ymd }} created<{{ $json.week_ymd }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-lastweek",
      "name": "ZD Semana Anterior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Semana').first().json;\nreturn [{ json: { ...acc, zd_last_week: $input.first().json } }];"
      },
      "id": "save-lastweek",
      "name": "Guardar Sem. Ant.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "type:ticket status<solved" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-open",
      "name": "ZD Abiertos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Sem. Ant.').first().json;\nreturn [{ json: { ...acc, zd_open: $input.first().json } }];"
      },
      "id": "save-open",
      "name": "Guardar Abiertos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }} subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-hoy-ia",
      "name": "ZD Hoy IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Abiertos').first().json;\nreturn [{ json: { ...acc, zd_today_ia: $input.first().json } }];"
      },
      "id": "save-hoy-ia",
      "name": "Guardar Hoy IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket created>={{ $json.today_ymd }} -subject:\"Conversation with\"" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-hoy-manual",
      "name": "ZD Hoy Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hoy IA').first().json;\nreturn [{ json: { ...acc, zd_today_manual: $input.first().json } }];"
      },
      "id": "save-hoy-manual",
      "name": "Guardar Hoy Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 0]
    },

    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/ticket_metrics.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "per_page", "value": "100" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-metrics-list",
      "name": "ZD Metrics Recientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 220]
    },
    {
      "parameters": {
        "jsCode": "// Calcula FRT — defensivo, incluye tickets pendientes con el tiempo\n// que llevan esperando (minutos desde creación)\nlet acc = {};\ntry {\n  acc = $('Guardar Hoy Manual').first().json || {};\n} catch (e) {\n  return [{ json: { _frt_status: 'no_acc:' + (e && e.message || e) } }];\n}\n\nlet body = {};\ntry { body = $input.first().json || {}; } catch (e) { body = {}; }\n\nconst metrics = Array.isArray(body.ticket_metrics) ? body.ticket_metrics : [];\nconst bodyKeys = Object.keys(body).slice(0, 10).join(',');\n\nconst manualResults = (acc.zd_today_manual && acc.zd_today_manual.results) || [];\nconst todayManualIds = new Set(\n  manualResults.map(t => t && t.id != null ? String(t.id) : null).filter(Boolean)\n);\n// Mapas auxiliares\nconst subjectById = new Map();\nconst createdById = new Map();\nfor (const t of manualResults) {\n  if (t && t.id != null) {\n    subjectById.set(String(t.id), t.subject || '');\n    createdById.set(String(t.id), t.created_at);\n  }\n}\n\nconst todayMetrics = metrics.filter(m => m && m.ticket_id != null && todayManualIds.has(String(m.ticket_id)));\nconst nowMs = Date.now();\n\nfunction effectiveTime(m) {\n  const cal = m && m.reply_time_in_minutes && m.reply_time_in_minutes.calendar;\n  if (typeof cal === 'number' && cal > 0) return { min: cal, status: 'answered' };\n  // Pendiente: tiempo desde creación\n  const created = createdById.get(String(m.ticket_id));\n  if (!created) return { min: null, status: 'unknown' };\n  const elapsed = Math.round((nowMs - new Date(created).getTime()) / 60000);\n  return { min: elapsed > 0 ? elapsed : 1, status: 'pending' };\n}\n\n// Breakdown completo (todos los manuales hoy)\nconst _frt_breakdown = todayMetrics.map(m => {\n  const tid = String(m.ticket_id);\n  const eff = effectiveTime(m);\n  return {\n    ticket_id: m.ticket_id,\n    subject: (subjectById.get(tid) || '').slice(0, 80),\n    reply_time_calendar_min: m.reply_time_in_minutes && m.reply_time_in_minutes.calendar,\n    reply_time_business_min: m.reply_time_in_minutes && m.reply_time_in_minutes.business,\n    effective_min: eff.min,\n    state: eff.status,  // 'answered' | 'pending' | 'unknown'\n    created_at: createdById.get(tid),\n    url: `https://soporteyurest.zendesk.com/agent/tickets/${m.ticket_id}`\n  };\n}).sort((a,b) => (a.effective_min || 999999) - (b.effective_min || 999999));\n\n// Media SOLO sobre los respondidos (state==='answered').\n// Los pendientes se cuentan aparte como info, no entran en el promedio.\nconst answeredItems = _frt_breakdown.filter(x => x.state === 'answered');\nconst times = answeredItems.map(x => x.effective_min);\nconst sample = times.length;\nconst avgMin = sample ? Math.round(times.reduce((a,b)=>a+b,0) / sample) : null;\nconst sorted = times.slice().sort((a,b)=>a-b);\nconst median = sample ? sorted[Math.floor(sample/2)] : null;\nconst minV = sample ? sorted[0] : null;\nconst maxV = sample ? sorted[sorted.length-1] : null;\n\nconst answered = answeredItems.length;\nconst pending  = _frt_breakdown.filter(x => x.state === 'pending').length;\n\nreturn [{ json: {\n  ...acc,\n  frt_avg_min: avgMin,\n  frt_sample: sample,\n  frt_answered: answered,\n  frt_pending: pending,\n  _frt_today_ids_size: todayManualIds.size,\n  _frt_metrics_size: metrics.length,\n  _frt_matched: todayMetrics.length,\n  _frt_status: 'ok',\n  _frt_body_keys: bodyKeys,\n  _frt_min: minV,\n  _frt_max: maxV,\n  _frt_median: median,\n  _frt_breakdown\n} }];"
      },
      "id": "calc-frt",
      "name": "Calcular FRT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 220]
    },

    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "=type:ticket status<solved created<{{ $json.aged_ymd }} -subject:\"Conversation with\" tags:consulta_técnica"
        }
      },
      "id": "zd-aged",
      "name": "ZD Envejecidos",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "jsCode": "// Recoge todos los tickets envejecidos (Zendesk native emite uno por item)\nconst acc = $('Calcular FRT').first().json;\nconst allAged = $input.all().map(i => i.json).filter(Boolean);\nreturn [{ json: { ...acc, zd_aged: { results: allAged, count: allAged.length } } }];"
      },
      "id": "save-aged",
      "name": "Guardar Envejecidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 840]
    },

    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "=type:ticket created>={{ $json.hist_ymd }} -subject:\"Conversation with\""
        }
      },
      "id": "zd-hist-manual",
      "name": "ZD Hist Manual",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1600, -100]
    },
    {
      "parameters": {
        "jsCode": "// Guarda los tickets manuales del histórico (28 días) — se combinarán\n// con los de IA en el siguiente save. Pull desde 'Guardar Envejecidos'\n// para preservar zd_aged y _frt_* añadidos previamente en la cadena.\nconst acc = $('Guardar Envejecidos').first().json;\nconst manuales = $input.all().map(i => i.json).filter(Boolean);\nreturn [{ json: { ...acc, _hist_manual: manuales } }];"
      },
      "id": "save-hist-manual",
      "name": "Guardar Hist Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, -100]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "=type:ticket created>={{ $json.hist_ymd }} subject:\"Conversation with\""
        }
      },
      "id": "zd-hist-ia",
      "name": "ZD Hist IA",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1900, -100]
    },
    {
      "parameters": {
        "jsCode": "// Combina manuales + IA del histórico en zd_hist.results\nconst acc = $('Guardar Hist Manual').first().json;\nconst ia = $input.all().map(i => i.json).filter(Boolean);\nconst all = [...(acc._hist_manual || []), ...ia];\nreturn [{ json: {\n  ...acc,\n  _hist_manual: undefined,\n  zd_hist: { results: all, count: all.length }\n} }];"
      },
      "id": "save-hist",
      "name": "Guardar Hist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, -100]
    },


    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "=type:ticket solved>={{ $json.today_ymd }} -subject:\"Conversation with\"" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-solved-today",
      "name": "ZD Resueltos Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Guardar Hist').first().json;\nreturn [{ json: { ...acc, zd_solved_today: $input.first().json } }];"
      },
      "id": "save-solved-today",
      "name": "Guardar Resueltos Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    },

    {
      "parameters": {
        "jsCode": "// Extrae los IDs de las top 8 orgs del MES (filtramos zd_hist a >= month_ymd)\nconst d = $input.first().json;\nconst histRes  = (d.zd_hist && Array.isArray(d.zd_hist.results)) ? d.zd_hist.results : [];\nconst monthYMD = d.month_ymd;\nfunction ymdMad(date){ return date.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\n\nconst orgCount = new Map();\nfor (const t of histRes) {\n  const c = t.created_at || t.createdAt;\n  if (!c) continue;\n  if (ymdMad(new Date(c)) < monthYMD) continue;\n  if (!t.organization_id) continue;\n  orgCount.set(t.organization_id, (orgCount.get(t.organization_id) || 0) + 1);\n}\nconst top = [...orgCount.entries()].sort((a,b)=>b[1]-a[1]).slice(0,8);\nconst ids = new Set(top.map(([id])=>id));\n\nreturn [{ json: { ...d, org_ids_csv: [...ids].join(',') || '0', top_orgs_raw: top } }];"
      },
      "id": "calc-orgs",
      "name": "Calcular IDs orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "url": "https://soporteyurest.zendesk.com/api/v2/organizations/show_many.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ids", "value": "={{ $json.org_ids_csv }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "zd-orgs",
      "name": "ZD Organizaciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 0]
    },
    {
      "parameters": {
        "jsCode": "const acc = $('Calcular IDs orgs').first().json;\nreturn [{ json: { ...acc, zd_orgs: $input.first().json } }];"
      },
      "id": "save-orgs",
      "name": "Guardar Orgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 0]
    },

    {
      "parameters": {
        "jsCode": "// Consolida todo en el JSON final\nconst d = $input.first().json;\n\nfunction count(obj){\n  if (!obj) return 0;\n  if (typeof obj.count === 'number') return obj.count;\n  if (Array.isArray(obj.results)) return obj.results.length;\n  return 0;\n}\nfunction results(obj){\n  if (!obj || !Array.isArray(obj.results)) return [];\n  return obj.results;\n}\nfunction ymdMadrid(date){ return date.toLocaleDateString('en-CA', { timeZone:'Europe/Madrid' }); }\nfunction partsMadrid(date){\n  return new Intl.DateTimeFormat('en-US', {\n    timeZone:'Europe/Madrid', weekday:'short', hour:'2-digit', hour12:false\n  }).formatToParts(date);\n}\n\nconst today        = count(d.zd_today);\nconst yesterday    = count(d.zd_yesterday);\nconst week         = count(d.zd_week);\nconst lastWeek     = count(d.zd_last_week);\nconst open         = count(d.zd_open);\nconst todayIA       = count(d.zd_today_ia);\nconst todayManual   = count(d.zd_today_manual);\nconst yesterdayIA   = count(d.zd_yesterday_ia);\nconst yesterdayManual = count(d.zd_yesterday_manual);\nconst solvedToday   = count(d.zd_solved_today);\nconst backlogToday  = todayManual - solvedToday;\n\nconst todayRes = results(d.zd_today);\nconst openRes  = results(d.zd_open);\nconst histRes  = results(d.zd_hist);\nconst pending  = openRes.filter(t => t.status === 'pending').length;\n\nconst weekYMD  = d.week_ymd;\nconst monthYMD = d.month_ymd;\n\n// Tickets de este mes (filtramos histRes a >= month_ymd)\nconst monthRes = histRes.filter(t => {\n  const c = t.created_at || t.createdAt;\n  return c && ymdMadrid(new Date(c)) >= monthYMD;\n});\nconst month = monthRes.length;\nlet monthIA = 0, monthManual = 0;\nfor (const t of monthRes) {\n  const subj = String(t.subject || '').trim().toLowerCase();\n  if (subj.startsWith('conversation with')) monthIA++; else monthManual++;\n}\n\n// ────── A · HOURLY TODAY vs MEDIA (mismo día semana últimas 4 semanas) ──────\nconst HOURS_RANGE = ['09','10','11','12','13','14','15','16','17','18'];\nconst nowD = new Date();\nconst todayLocalYMD = ymdMadrid(nowD);\nconst todayWdStr = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(nowD);\n\nconst hoursToday = Object.fromEntries(HOURS_RANGE.map(h => [h, 0]));\nfor (const t of todayRes) {\n  if (!t.created_at) continue;\n  const dt = new Date(t.created_at);\n  if (ymdMadrid(dt) !== todayLocalYMD) continue;\n  const hh = partsMadrid(dt).find(p => p.type === 'hour')?.value || '00';\n  if (hoursToday[hh] !== undefined) hoursToday[hh]++;\n}\n\n// Media: histRes ahora cubre los 28 días completos (Manual + IA en\n// queries separadas → cada subset bajo 1000 = sin truncamiento)\nconst sameWdSums = Object.fromEntries(HOURS_RANGE.map(h => [h, 0]));\nconst sameWdDaysSeen = new Set();\n// Debug: agrupa tickets del mismo día de semana por fecha\nconst _pastWdDebug = {};\nfor (const t of histRes) {\n  if (!t.created_at) continue;\n  const dt = new Date(t.created_at);\n  if (ymdMadrid(dt) === todayLocalYMD) continue;\n  const p = partsMadrid(dt);\n  const wd = p.find(x => x.type === 'weekday')?.value;\n  if (wd !== todayWdStr) continue;\n  const dYMD = ymdMadrid(dt);\n  sameWdDaysSeen.add(dYMD);\n  const hh = p.find(x => x.type === 'hour')?.value || '00';\n  if (sameWdSums[hh] !== undefined) sameWdSums[hh]++;\n  // Acumular debug\n  if (!_pastWdDebug[dYMD]) _pastWdDebug[dYMD] = { date: dYMD, total: 0, by_hour: {}, tickets: [] };\n  _pastWdDebug[dYMD].total++;\n  _pastWdDebug[dYMD].by_hour[hh] = (_pastWdDebug[dYMD].by_hour[hh] || 0) + 1;\n  const subj = String(t.subject || '').trim().toLowerCase();\n  const isIA = subj.startsWith('conversation with');\n  // Solo listar los de horas 9-18 para no saturar\n  if (HOURS_RANGE.includes(hh)) {\n    _pastWdDebug[dYMD].tickets.push({\n      id: t.id, hour: hh, origin: isIA ? 'IA' : 'Manual',\n      subject: (t.subject || '').slice(0, 80)\n    });\n  }\n}\nconst _past_wd_debug = Object.values(_pastWdDebug).sort((a,b) => a.date.localeCompare(b.date));\n// Conteo de calendario: cuántos mismos días de semana en [histYMD, hoy)\nlet sampleDays = 0;\nconst _histStart = new Date(d.hist_ymd + 'T12:00:00Z');\nconst _todayStart = new Date(todayLocalYMD + 'T12:00:00Z');\nfor (let dt = new Date(_histStart); dt < _todayStart; dt.setUTCDate(dt.getUTCDate() + 1)) {\n  const wd = new Intl.DateTimeFormat('en-US', { timeZone:'Europe/Madrid', weekday:'short' }).format(dt);\n  if (wd === todayWdStr) sampleDays++;\n}\nif (sampleDays === 0) sampleDays = 1;\nconst hourly_today = HOURS_RANGE.map(h => ({\n  hour: h + ':00',\n  today: hoursToday[h],\n  avg: Math.round((sameWdSums[h] / sampleDays) * 10) / 10\n}));\n\n// ────── C · STACKED IA/MANUAL por día (L-V hasta hoy) ──────\nconst DAYS_LV = ['Lun','Mar','Mié','Jue','Vie'];\nconst _wdIdx = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(todayWdStr);\nconst lastDayIdx = Math.min(_wdIdx, 4);\nconst visibleDays = DAYS_LV.slice(0, lastDayIdx + 1);\nconst stackedIA = Object.fromEntries(visibleDays.map(dn => [dn, 0]));\nconst stackedMa = Object.fromEntries(visibleDays.map(dn => [dn, 0]));\nlet weekIA = 0, weekMa = 0;\nfor (const t of histRes) {\n  const created = t.created_at || t.createdAt;\n  if (!created) continue;\n  const dt = new Date(created);\n  if (isNaN(dt.getTime())) continue;\n  if (ymdMadrid(dt) < weekYMD) continue;\n  const p = partsMadrid(dt);\n  const wd = p.find(x => x.type === 'weekday')?.value;\n  const idx = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'].indexOf(wd);\n  if (idx < 0 || idx > 4 || idx > lastDayIdx) continue;\n  const dn = DAYS_LV[idx];\n  const subj = String(t.subject || '').trim().toLowerCase();\n  const isIA = subj.startsWith('conversation with');\n  if (isIA) { stackedIA[dn]++; weekIA++; } else { stackedMa[dn]++; weekMa++; }\n}\nconst weekly_stacked = visibleDays.map(dn => ({\n  day: dn,\n  ia: stackedIA[dn],\n  manual: stackedMa[dn],\n  total: stackedIA[dn] + stackedMa[dn],\n  pct_ia: (stackedIA[dn] + stackedMa[dn]) > 0\n    ? Math.round((stackedIA[dn] / (stackedIA[dn] + stackedMa[dn])) * 100) : 0\n}));\n\n// ────── Tickets envejecidos (>5 días sin cerrar, sin IA) ──────\nconst tickets_aged_3d = count(d.zd_aged);\nconst _aged_raw = d.zd_aged ? (Object.keys(d.zd_aged).slice(0,8).join(',')) : 'undef';\nconst _aged_query_date = d.aged_ymd || 'undef';\nconst agedAll = results(d.zd_aged);\n// Lista de tickets envejecidos: campos útiles + URL directa, ordenados\n// del más antiguo al más reciente para inspección manual.\nconst aged_tickets_list = agedAll\n  .filter(t => t && t.id)\n  .sort((a,b) => new Date(a.created_at) - new Date(b.created_at))\n  .map(t => ({\n    id: t.id,\n    subject: t.subject || '(sin asunto)',\n    status: t.status,\n    priority: t.priority,\n    created_at: t.created_at,\n    updated_at: t.updated_at,\n    organization_id: t.organization_id,\n    requester_id: t.requester_id,\n    assignee_id: t.assignee_id,\n    age_days: t.created_at ? Math.floor((Date.now() - new Date(t.created_at).getTime()) / 86400000) : null,\n    url: `https://soporteyurest.zendesk.com/agent/tickets/${t.id}`\n  }));\n\n// ────── Top orgs del mes + sparkline 14 días ──────\nconst orgCount = new Map();\nfor (const t of monthRes) {\n  if (!t.organization_id) continue;\n  orgCount.set(t.organization_id, (orgCount.get(t.organization_id) || 0) + 1);\n}\nconst topOrgIds = [...orgCount.entries()].sort((a,b)=>b[1]-a[1]).slice(0,8);\n\n// Construir array de 14 días YMD (oldest -> today)\nconst dayList = [];\nfor (let i = 13; i >= 0; i--) {\n  const dt = new Date(nowD); dt.setDate(dt.getDate() - i);\n  dayList.push(ymdMadrid(dt));\n}\nconst dayIndex = Object.fromEntries(dayList.map((y,i) => [y, i]));\n\n// Por cada org top, contar tickets por día\nconst sparklineByOrg = new Map();\nfor (const [orgId] of topOrgIds) sparklineByOrg.set(orgId, new Array(14).fill(0));\nfor (const t of histRes) {\n  if (!t.organization_id) continue;\n  if (!sparklineByOrg.has(t.organization_id)) continue;\n  const created = t.created_at || t.createdAt;\n  if (!created) continue;\n  const dYMD = ymdMadrid(new Date(created));\n  const idx = dayIndex[dYMD];\n  if (idx !== undefined) sparklineByOrg.get(t.organization_id)[idx]++;\n}\n\nconst orgMap = new Map();\nconst orgsResolved = (d.zd_orgs && Array.isArray(d.zd_orgs.organizations)) ? d.zd_orgs.organizations : [];\nfor (const o of orgsResolved) { if (o && o.id) orgMap.set(o.id, o.name); }\nfunction orgName(id){ return orgMap.get(id) || `Organización ${id}`; }\n\nconst top_orgs = topOrgIds.map(([id, count]) => ({\n  name: orgName(id),\n  count,\n  sparkline: sparklineByOrg.get(id) || []\n}));\n\nreturn [{ json: {\n  generated_at: new Date().toISOString(),\n  _workflow_version: '2026-05-13-split-hist',\n  tickets_today: today,\n  tickets_yesterday: yesterday,\n  tickets_week: week,\n  tickets_last_week: lastWeek,\n  tickets_open: open,\n  tickets_pending: pending,\n  tickets_month: month,\n  tickets_solved_today: solvedToday,\n  backlog_today: backlogToday,\n  frt_avg_min: d.frt_avg_min ?? null,\n  frt_sample: d.frt_sample ?? 0,\n  frt_answered: d.frt_answered ?? 0,\n  frt_pending: d.frt_pending ?? 0,\n  frt_min: d._frt_min ?? null,\n  frt_max: d._frt_max ?? null,\n  frt_median: d._frt_median ?? null,\n  frt_breakdown: d._frt_breakdown ?? [],\n  _frt_today_ids_size: d._frt_today_ids_size ?? null,\n  _frt_metrics_size: d._frt_metrics_size ?? null,\n  _frt_matched: d._frt_matched ?? null,\n  _frt_status: d._frt_status ?? null,\n  _frt_body_keys: d._frt_body_keys ?? null,\n  _aged_raw: _aged_raw,\n  _aged_query_date: _aged_query_date,\n  tickets_aged_3d,\n  aged_tickets_list,\n  tickets_today_ia: todayIA,\n  tickets_today_manual: todayManual,\n  tickets_yesterday_ia: yesterdayIA,\n  tickets_yesterday_manual: yesterdayManual,\n  tickets_month_ia: monthIA,\n  tickets_month_manual: monthManual,\n  tickets_week_ia: weekIA,\n  tickets_week_manual: weekMa,\n  hourly_today,\n  _past_wd_debug,\n  weekly_stacked,\n  top_orgs\n} }];"
      },
      "id": "agg-1",
      "name": "Agregar KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp-1",
      "name": "Responder webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3200, 0]
    }
  ],
  "connections": {
    "Webhook KPIs":          { "main": [[{ "node": "Calcular fechas",      "type": "main", "index": 0 }]] },
    "Calcular fechas":       { "main": [[{ "node": "ZD Hoy",               "type": "main", "index": 0 }]] },
    "ZD Hoy":                { "main": [[{ "node": "Guardar Hoy",          "type": "main", "index": 0 }]] },
    "Guardar Hoy":           { "main": [[{ "node": "ZD Ayer",              "type": "main", "index": 0 }]] },
    "ZD Ayer":               { "main": [[{ "node": "Guardar Ayer",         "type": "main", "index": 0 }]] },
    "Guardar Ayer":          { "main": [[{ "node": "ZD Ayer IA",           "type": "main", "index": 0 }]] },
    "ZD Ayer IA":            { "main": [[{ "node": "Guardar Ayer IA",      "type": "main", "index": 0 }]] },
    "Guardar Ayer IA":       { "main": [[{ "node": "ZD Ayer Manual",       "type": "main", "index": 0 }]] },
    "ZD Ayer Manual":        { "main": [[{ "node": "Guardar Ayer Manual",  "type": "main", "index": 0 }]] },
    "Guardar Ayer Manual":   { "main": [[{ "node": "ZD Semana",            "type": "main", "index": 0 }]] },
    "ZD Semana":             { "main": [[{ "node": "Guardar Semana",       "type": "main", "index": 0 }]] },
    "Guardar Semana":        { "main": [[{ "node": "ZD Semana Anterior",   "type": "main", "index": 0 }]] },
    "ZD Semana Anterior":    { "main": [[{ "node": "Guardar Sem. Ant.",    "type": "main", "index": 0 }]] },
    "Guardar Sem. Ant.":     { "main": [[{ "node": "ZD Abiertos",          "type": "main", "index": 0 }]] },
    "ZD Abiertos":           { "main": [[{ "node": "Guardar Abiertos",     "type": "main", "index": 0 }]] },
    "Guardar Abiertos":      { "main": [[{ "node": "ZD Hoy IA",            "type": "main", "index": 0 }]] },
    "ZD Hoy IA":             { "main": [[{ "node": "Guardar Hoy IA",       "type": "main", "index": 0 }]] },
    "Guardar Hoy IA":        { "main": [[{ "node": "ZD Hoy Manual",        "type": "main", "index": 0 }]] },
    "ZD Hoy Manual":         { "main": [[{ "node": "Guardar Hoy Manual",   "type": "main", "index": 0 }]] },
    "Guardar Hoy Manual":    { "main": [[{ "node": "ZD Metrics Recientes", "type": "main", "index": 0 }]] },
    "ZD Metrics Recientes":  { "main": [[{ "node": "Calcular FRT",         "type": "main", "index": 0 }]] },
    "Calcular FRT":          { "main": [[{ "node": "ZD Envejecidos",       "type": "main", "index": 0 }]] },
    "ZD Envejecidos":        { "main": [[{ "node": "Guardar Envejecidos",  "type": "main", "index": 0 }]] },
    "Guardar Envejecidos":   { "main": [[{ "node": "ZD Hist Manual",       "type": "main", "index": 0 }]] },
    "ZD Hist Manual":        { "main": [[{ "node": "Guardar Hist Manual",  "type": "main", "index": 0 }]] },
    "Guardar Hist Manual":   { "main": [[{ "node": "ZD Hist IA",           "type": "main", "index": 0 }]] },
    "ZD Hist IA":            { "main": [[{ "node": "Guardar Hist",         "type": "main", "index": 0 }]] },
    "Guardar Hist":          { "main": [[{ "node": "ZD Resueltos Hoy",     "type": "main", "index": 0 }]] },
    "ZD Resueltos Hoy":      { "main": [[{ "node": "Guardar Resueltos Hoy","type": "main", "index": 0 }]] },
    "Guardar Resueltos Hoy": { "main": [[{ "node": "Calcular IDs orgs",    "type": "main", "index": 0 }]] },
    "Calcular IDs orgs":     { "main": [[{ "node": "ZD Organizaciones",    "type": "main", "index": 0 }]] },
    "ZD Organizaciones":     { "main": [[{ "node": "Guardar Orgs",         "type": "main", "index": 0 }]] },
    "Guardar Orgs":          { "main": [[{ "node": "Agregar KPIs",         "type": "main", "index": 0 }]] },
    "Agregar KPIs":          { "main": [[{ "node": "Responder webhook",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
