n8n-workflow-sync-check.json
{
  "name": "Sync Check Zendesk-Asana (Incidencias DEV)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sync-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook Sync Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "sync-check"
    },

    {
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "type:ticket status<solved tags:incidencia_dev"
        }
      },
      "id": "zd-incidencias",
      "name": "ZD Incidencias Open",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "jsCode": "// Construye el Set de IDs Zendesk abiertos\nconst tickets = $input.all().map(i => i.json).filter(Boolean);\nconst zdIds = new Set(tickets.map(t => String(t.id)).filter(Boolean));\nreturn [{ json: { _zd_open_ids: [...zdIds], _zd_open_total: zdIds.size } }];"
      },
      "id": "save-zd",
      "name": "Save ZD Open",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 0]
    },

    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "opt_fields": "={{ [\"gid\",\"name\",\"completed\",\"completed_at\",\"permalink_url\",\"html_notes\"] }}",
          "section": "=1207479621563558"
        }
      },
      "id": "asana-tasks",
      "name": "Asana Tasks Section",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [-200, 0],
      "credentials": {
        "asanaOAuth2Api": { "id": "lg7A3NxFXWdmTBae", "name": "Asana account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Solo tareas COMPLETADAS en los ÚLTIMOS 180 DÍAS (reduce volumen)\n// 2) Intenta extraer zendesk_id desde NAME o HTML_NOTES (sin HTTP extra)\n// 3) Las que no se puedan resolver así pasan por separado a fetch attachments\nconst tasks = $input.all().map(i => i.json).filter(Boolean);\nconst cutoff = Date.now() - 180 * 86400000;\n\nfunction findZdId(s) {\n  if (!s) return null;\n  const m = String(s).match(/#\\s*(\\d{2,7})/);\n  return m ? m[1] : null;\n}\n\nconst withId = [];     // tareas con zendesk_id ya extraído\nconst needAtt = [];    // necesitan HTTP a attachments\nfor (const t of tasks) {\n  if (!t || t.completed !== true) continue;\n  if (!t.completed_at || new Date(t.completed_at).getTime() < cutoff) continue;\n  const zdId = findZdId(t.name) || findZdId(t.html_notes);\n  if (zdId) {\n    withId.push({ ...t, _zd_id: zdId, _src: 'name_or_notes' });\n  } else {\n    needAtt.push({ ...t });\n  }\n}\nreturn [\n  ...withId.map(t => ({ json: t })),\n  ...needAtt.map(t => ({ json: t }))\n];"
      },
      "id": "filter-completed",
      "name": "Solo Completadas (180d) + Pre-extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "=https://app.asana.com/api/1.0/tasks/{{ $json.gid }}/attachments?opt_fields=name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaOAuth2Api",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "get-attachments",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "credentials": {
        "asanaOAuth2Api": { "id": "lg7A3NxFXWdmTBae", "name": "Asana account" }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Cruza Asana completadas (con zendesk_id resuelto vía name/notes o\n// attachments) contra los IDs Zendesk abiertos. Detecta desincronizaciones.\nconst tasks = $('Solo Completadas (180d) + Pre-extract').all().map(i => i.json);\nconst attResults = $input.all().map(i => i.json);\nconst zdData = $('Save ZD Open').first().json;\nconst zdOpenIds = new Set((zdData._zd_open_ids || []).map(String));\n\nconst mismatches = [];\nconst noMatch = [];\nconst zdMatched = new Set();\nlet srcName = 0, srcAtt = 0;\n\nfor (let i = 0; i < tasks.length; i++) {\n  const task = tasks[i];\n  let zdId = task._zd_id || null;\n  if (zdId) {\n    srcName++;\n  } else {\n    // Caer al attachment correspondiente por índice\n    const attResp = attResults[i] || {};\n    const atts = Array.isArray(attResp.data) ? attResp.data : [];\n    for (const att of atts) {\n      const name = att && att.name ? String(att.name) : '';\n      const m = name.match(/#\\s*(\\d{2,7})/);\n      if (m) { zdId = m[1]; srcAtt++; break; }\n    }\n  }\n\n  if (!zdId) {\n    noMatch.push({\n      asana_gid: task.gid, asana_name: task.name,\n      asana_url: task.permalink_url,\n      asana_completed_at: task.completed_at\n    });\n    continue;\n  }\n\n  if (zdOpenIds.has(String(zdId))) {\n    mismatches.push({\n      zendesk_id: parseInt(zdId, 10),\n      zendesk_url: `https://soporteyurest.zendesk.com/agent/tickets/${zdId}`,\n      asana_gid: task.gid,\n      asana_name: task.name,\n      asana_url: task.permalink_url,\n      asana_completed_at: task.completed_at,\n      _source: task._zd_id ? 'name_or_notes' : 'attachment'\n    });\n    zdMatched.add(String(zdId));\n  }\n}\n\nconst zdOpenNotInAsanaCompleted = [...zdOpenIds].filter(id => !zdMatched.has(id));\n\nreturn [{ json: {\n  generated_at: new Date().toISOString(),\n  zendesk_open_total: zdOpenIds.size,\n  asana_completed_180d_total: tasks.length,\n  resolved_from_name_notes: srcName,\n  resolved_from_attachments: srcAtt,\n  mismatches_total: mismatches.length,\n  mismatches_ids_csv: mismatches.map(m => m.zendesk_id).join(','),\n  mismatches: mismatches.sort((a,b) => (b.asana_completed_at || '').localeCompare(a.asana_completed_at || '')),\n  asana_completed_sin_ticket_legible: noMatch,\n  zendesk_abiertos_sin_asana_completada: zdOpenNotInAsanaCompleted\n} }];"
      },
      "id": "cross-ref",
      "name": "Cross Reference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "no-store" }
            ]
          }
        }
      },
      "id": "resp-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Webhook Sync Check":  { "main": [[{ "node": "ZD Incidencias Open", "type": "main", "index": 0 }]] },
    "ZD Incidencias Open": { "main": [[{ "node": "Save ZD Open",        "type": "main", "index": 0 }]] },
    "Save ZD Open":        { "main": [[{ "node": "Asana Tasks Section", "type": "main", "index": 0 }]] },
    "Asana Tasks Section": { "main": [[{ "node": "Solo Completadas (180d) + Pre-extract", "type": "main", "index": 0 }]] },
    "Solo Completadas (180d) + Pre-extract": { "main": [[{ "node": "Get Attachments", "type": "main", "index": 0 }]] },
    "Get Attachments":     { "main": [[{ "node": "Cross Reference",     "type": "main", "index": 0 }]] },
    "Cross Reference":     { "main": [[{ "node": "Respond",             "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
